{% load static %}
{% block content %}
	 <div class="wrapper">
			<header>
				 <nav>
						<div class="menu-icon">
							 <i class="fa fa-bars fa-2x"></i>
						</div>
						<div class="logo">
							 LOGO
						</div>
						<div class="menu">
							 <ul>
									<li><a href="#">Home</a></li>
									<li><a href="#">About</a></li>
									<li><a href="#">Blog</a></li>
							 </ul>
						</div>
				 </nav>
				 <h1>Is this working </h1>
			</header>
			<div class="container">
  			<div class="centered">Centered</div>
			</div>
			<div class="content">
			</div>
	 </div>
{% endblock %}
